/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}



h1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 34, 35);
  height: 80px;
}

#content{
  display: flex;
  justify-content: center;
}

button {
  height: 40px;
  width: 90px;
  margin: 30px;
}